
.header{
  border: solid black 2px;
  overflow: auto;
  text-align: center;
  padding: 2px;
}
.menu{
  float: left;
}
.title{
  text-align: center;
}
.user-info{
  float: right;
  text-align: right;
}


.main{
  border: solid black 2px;
  padding: 4px;
}

.question{
  width: 40%;
  height: 100px;
  margin: 5%;
}

.green{
  background-color: green;
}
.red{
  background-color: red;
}

.selected{
  border: solid blue 4px;
}
